<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vandane - Pravachans</title>
    <meta
      name="description"
      content="A Way To Watch Pravachans,Temple Darshans,Devotional songs,
    Shlokas And Live Darshana From Temples ."
    />
    <meta
      name="keywords"
      content="vandane mobile app ,
    Pravachana kannada app , Swamiji pravachana in kannada , siddeshwar Swamiji pravachana , Koppal Gavisiddeshwar Swamiji pravachana , Shivakumar Swamiji pravachana , devotional app , kannada pravachana app"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/icons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-veryLightGray">
    <%- include("../layouts/navbar.ejs") %>

    <!-- // Temples -->
    <section class="text-gray-600 body-font mb-10">
      <div class="container px-5 mt-10 mx-auto">
        <h1
          class="sm:text-3xl text-2xl font-medium text-center title-font mb-10 text-gray-900"
        >
          <img
            src="https://res.cloudinary.com/ajitpatil/image/upload/v1668000221/vandane/team/namaste_d9ssou.svg"
            alt="logo"
            class="w-12 h-12 mb-3 inline-block pr-3"
          />
          <span class="font-Poppins">Pravachans</span>
          <img
            src="https://res.cloudinary.com/ajitpatil/image/upload/v1668000221/vandane/team/namaste_d9ssou.svg"
            alt="logo"
            class="w-12 h-12 mb-3 inline-block pr-3"
          />
        </h1>
        <div class="flex flex-wrap -m-4">
          <% if (pravachans.length !== 0) { %>  <% pravachans.forEach(pravachan => { %>
            <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                  <img class="lg:h-60 md:h-36 w-full object-cover object-center"   src="<%= pravachan.thumbnail.medium.url %> "
                  alt="<%= pravachan.title %>">
                  <div class="p-6">
                    <a href="/pravachans/<%= pravachan.videoId %>">

                        <h1
                          class="openmodel cursor-pointer title-font text-lg font-medium text-gray-900 mb-3"
                        >
                          <%= pravachan.title %>
                        </h1> 
                  </div>
                </div>
              </div>
         
          <% }) %> <% } else { %>
            <p class="title-font text-lg font-medium text-gray-900 mb-3 text-center">Pravachana Not Found</p>
           <% } %> 

        </div>
      </div>
    </section>
    <%- include("../layouts/footer.ejs")%>
    <!-- Modal  -->
   
    <script src="/js/app.js"></script>
  </body>
</html>
