<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vandane - Pravachans</title>
    <meta
      name="description"
      content="A Way To Watch Pravachans,Temple Darshans,Devotional songs,
    Shlokas And Live Darshana From Temples ."
    />
    <meta
      name="keywords"
      content="vandane mobile app ,
    Pravachana kannada app , Swamiji pravachana in kannada , siddeshwar Swamiji pravachana , Koppal Gavisiddeshwar Swamiji pravachana , Shivakumar Swamiji pravachana , devotional app , kannada pravachana app"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/icons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-veryLightGray">
    <%- include("../layouts/navbar.ejs") %>

    <section class="container mx-auto mb-32">
      <% if (video) { %>

      <div
        class="wrapper flex flex-col md:flex-row items-center justify-evenly p-3 md:p-0"
      >
        <div class="left md:w-1/2">
          <div>
           
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/<%= video.videoId %>"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
              class="w-full object-cover object-center h-64 md:h-96"
            ></iframe>
          </div>
          <div class="mt-10">
            <div>
              <h1 class="text-2xl font-Poppins font-semibold pb-6">
                <%= video.title %>
              </h1>
            </div>
            <div class="discription text-xl font-sans">
              <%= video.discription %>
            </div>
          </div>
        </div>
      </div>
      <% } else { %>
      <div>No video Found</div>
      <% } %>
    </section>

    <%- include("../layouts/footer.ejs")%>

    <script src="/js/app.js"></script>
  </body>
</html>
